pulse/*
!pulse/**/*.conf
!pulse/**/*.pa
redshift.conf
!*/**/redshift.conf
systemd/user/default.target.wants/
configstore/
Code\ -\ OSS/
JetBrains/
spotify/
discord/
cef_user_data/
dconf/
unity3d/
Slack/
gtk-3.0/
Simplenote/
zoomus.conf
